/* src/style.css */
@import "tailwindcss";

/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Space+Grotesk&display=swap');

:root {
  /* Paleta com nomes semânticos e descritivos */
  --royal-blue: #033E8C;        
  --clay-taupe: #8A6F60;        
  --amber-cream: #FFD89A;       
  --amber-cream-light: #ffe6b3;
  --cloud-white: #F5F5F3;       
  --graphite-black: #2B2B2B;    

  /* Mapas semânticos reutilizáveis */
  --primary: var(--royal-blue);
  --contrast: var(--solar-ember);
  --neutral: var(--clay-taupe);
  --accent: var(--amber-cream);
  --background: var(--cloud-white);
  --eco: var(--sage-green);
  --text-dark: var(--graphite-black);
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  color: var(--text-dark);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Grotesk', sans-serif;
  color: var(--royal-blue);
  text: bold;
}

a {
  color: var(--graphite-black);
  transition: color 0.3s ease;
}
a:hover {
  color: var(--contrast);
}

.btn-primary {
  background-color: var(--royal-blue);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  transition: background-color 0.3s ease;
}
.btn-primary:hover {
  background-color: #FFD89A;
  color:black;
  
  
}

.btn-secondary {
  background-color: var(--amber-cream);
  color: var(--royal-blue);
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  transition: background-color 0.3s ease;
}
.btn-secondary:hover {
  background-color: var(--amber-cream-transparent);
}

/* nav desktop */
.nav-blur {
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 9999px;
  padding: 0.75rem 1.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: background-color 0.3s ease;
}

.nav-blur a {
  font-weight: 600;
  color: var(--graphite-black);
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  transition: all 0.3s ease;
  display: inline-block;
}

.nav-blur a:hover {
  background-color: white;
  color: var(--royal-blue);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
}